body {
    background-image: linear-gradient(135deg, #a0c1e7, #bc56c0);
}

.nav-links {
  font-weight: bold;
}
.nav-item a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80%;
    height: 2px;
    transition: all 0.3s ease;
    transform: translateX(-50%);
    }

.nav-item a:hover {
    background: #913e94;
    border-radius: 20px;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(37, 99, 235, 0.4);
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

.form {
  border: 2px solid purple;
}

.form-inp {
  color: #bc56c0;
}
.btn {
    background-color: #8c398f;
    font-weight: bold;
    color: white;
}

.btn:hover {
    background-color: #bc56c0;
}
.card img {
  width: 100%;
  border-radius: 0.5rem;
  object-fit: cover;
  max-height: 250px;
  border-bottom: 3px solid plum;
}

.publicacion{
  border: 3px solid plum;
}
.like-btn {
  background: none;
  border: none;
  color: gray;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 5px;
}

.like-btn.liked {
  color: red;
}

.color-change {
  animation: colorCycle 5s infinite;
  font-size: 2em;
}
@keyframes colorCycle {
  0% { color: #ff5733; }
  25% { color: #004864; }
  50% { color: #2c6f00; }
  75% { color: #ff33a6; }
  100% { color: #7e6900; }
}
